---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Fredoka+One|Roboto:300,300i,400,400i,700,700i";



// Our variables
$base-font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$display-font-family: "Fredoka One", $base-font-family;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


// = General
// ==========================
h1, h2, h3, h4, h5, h6 { font-family: $display-font-family; font-weight: normal; text-transform: uppercase; line-height: 1em;}
.page-content {padding: 0;}

// = Home 
// ==========================
.page-header { text-align: center; background:#5c94fc url(img/header.png) no-repeat center bottom; background-size: cover; padding: 100px 0 300px;
  h2 {font-size: 48px;}
  h1 {font-size: 88px;}
  p {font-size: 28px; padding: 0 20px;}
  .wedding-date {font-size: 42px; font-family: $display-font-family;}
}




