---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Fredoka+One|Roboto:300,300i,400,400i,700,700i";



// Our variables
$base-font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$display-font-family: "Fredoka One", $base-font-family;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$desktop:          1000px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "bourbon/bourbon",
        "neat/neat"
;


// = General
// ==========================
h1, h2, h3, h4, h5, h6 { font-family: $display-font-family; font-weight: normal; text-transform: uppercase; line-height: 1em; font-size: 42px;}
.page-content {padding: 0;}


// = Home 
// ==========================
.page-header { text-align: center; background:#5c94fc url(img/header.png) no-repeat center bottom; background-size: cover; padding: 100px 0 300px;
  h2 {font-size: 48px;}
  h1 {font-size: 82px;}
  p {font-size: 28px; padding: 0 20px;}
  .wedding-date {font-size: 42px; font-family: $display-font-family;}
}


// = Event
// ==========================
#event { background:#000; padding: 60px 0; font-size: 18px;
  .wrapper {}
  .data {font-size: 24px;}
  .footer-evento {display: none;}
  .coins {display: block; margin: 60px auto;}
  @include media-query(1032px) {
    background: #000 url(img/bg-evento.png) repeat-y center center; padding-bottom: 0;
    .wrapper {padding-right: 60px;}
    .footer-evento {display: block; margin: 0 auto;}
  }
}


// = Tabs
// ==========================
.accordion-tabs-minimal {
  $base-border-color: #fff !default;
  $base-background-color: transparent !default;
  $base-spacing: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $medium-screen: 40em !default;
  $tab-link-color: #fff;
  $tab-border: 1px solid $base-border-color;
  $tab-active-background: $base-background-color;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: #c0c0c0;
  $tab-mode: $medium-screen;

  @include clearfix;
  line-height: 1.5;
  padding: 0;
  margin: 0;

  .tab-header-and-content {
    list-style: none;

    @include media($tab-mode) {
      display: inline;
    }
  }

  .tab-link {
    background-color: $tab-inactive-color;
    color: $tab-link-color;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 24px;
    border:none;

    @include media($tab-mode) {
      border-top: 0;
      display: inline-block;
    }

    &:hover { color: $action-color; }
    &:focus { outline: none; }

    &.is-active {
      border-bottom:6px transparent solid;

      @include media($tab-mode) {
        border-bottom-color: #fff;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing 0;
    width: 100%;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}


// = Cerimonia
// ==========================
#cerimony { background:#5c94fc; padding-top: 100px;
  h2 {font-size: 34px; padding-top: 30px;}
  h3 {font-size: 28px; height: 55px; text-align: center; vertical-align: baseline;
    img {vertical-align: baseline;}
  }
  .women, .men { margin-bottom: 60px;
    img {margin-right: 10px;}
    p {color:#414141; background: #fff; border-radius: 4px; padding: 20px;}
  }
  .men img {margin-left: 10px;}

  @include media($on-palm) {
    .women, .men { @include span-columns(6);}
  }
}


// = Festa
// ==========================
#party {background:#2038ec; padding-top: 100px;

}




