---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Fredoka+One|Roboto:300,300i,400,400i,700,700i";



// Our variables
$base-font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$display-font-family: "Fredoka One", $base-font-family;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$desktop:          1000px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "bourbon/bourbon",
        "neat/neat"
;


// = Menu
// ==========================
header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #414141 !default;
  $dark-gray: #fff !default;
  $large-screen: 53.75em !default;
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: #5c94fc;
  $navigation-color-hover: #414141;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  position: fixed;
  color: $navigation-color;

  .navigation-wrapper {
    @include clearfix;
    position: relative;
    z-index: 9999;
    text-align: left;

    @include media ($horizontal-bar-mode) {
      text-align: center;
    }
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    line-height: $navigation-height;
    padding-right: 2em;
    font-family: $display-font-family;
    text-transform: uppercase;
    font-weight: normal;

    @include media ($horizontal-bar-mode) {
      float: none;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    width: 31px;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;


    @include media ($horizontal-bar-mode) {
      display: inline;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: inline;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 2em;
    text-align: left;
    width: 100%;
    z-index: 9999;
    &:last-of-type {padding-right: 0;}

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      text-align: center;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;
      width: 100%;

      @include media ($horizontal-bar-mode) {
        width: auto;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($horizontal-bar-mode) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a::after {
      @include position(absolute, auto -0.4em auto auto);
      color: $navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($horizontal-bar-mode) {
        margin-right: $navigation-submenu-padding;
      }

      &::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: 0.8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu.fly-out-right {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    .submenu.fly-out-left {
      @include media($horizontal-bar-mode) {
        left: -$navigation-submenu-width + 0.2em;
        top: 0;
      }
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }

  // Elements on the far right

  .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: $navigation-height;

    @include media($horizontal-bar-mode) {
      background: transparent;
      clear: none;
      float: right;
    }
  }

  // Search bar

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);

    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%;

    form {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        border-radius: $base-border-radius * 2;
        box-sizing: border-box;
        color: $navigation-color;
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;

        @include media($horizontal-bar-mode) {
          width: 100%;
        }
      }

      button[type=submit] {
        background: $navigation-search-background;
        border: 0;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;

        img {
          height: 12px;
          opacity: 0.7;
          padding: 1px;
        }
      }
    }

    @include media($horizontal-bar-mode) {
      display: inline-block;
      position: relative;
      width: 16em;

      input {
        box-sizing: border-box;
        display: block;
      }
    }
  }
}



// = General
// ==========================
h1, h2, h3, h4, h5, h6 { font-family: $display-font-family; font-weight: normal; text-transform: uppercase; line-height: 1em; font-size: 42px;}
.page-content {padding: 0;}


// = Home 
// ==========================
.page-header { text-align: center; background:#5c94fc url(img/header.png) no-repeat center bottom; background-size: cover; padding: 160px 0 300px;
  h2 {font-size: 48px;}
  h1 {font-size: 82px;}
  p {font-size: 28px; padding: 0 20px;}
  .wedding-date {font-size: 42px; font-family: $display-font-family;}
}


// = Event
// ==========================
#event { background:#000; padding: 60px 0; font-size: 18px;
  .wrapper {}
  .data {font-size: 24px;}
  .footer-evento {display: none;}
  .coins {display: block; margin: 60px auto;}
  @include media-query(1032px) {
    background: #000 url(img/bg-evento.png) repeat-y center center; padding-bottom: 0;
    .wrapper {padding-right: 60px;}
    .footer-evento {display: block; margin: 0 auto;}
  }
}


// = Tabs
// ==========================
.accordion-tabs-minimal {
  $base-border-color: #fff !default;
  $base-background-color: transparent !default;
  $base-spacing: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $medium-screen: 40em !default;
  $tab-link-color: #fff;
  $tab-border: 1px solid $base-border-color;
  $tab-active-background: $base-background-color;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: #c0c0c0;
  $tab-mode: $medium-screen;

  @include clearfix;
  line-height: 1.5;
  padding: 0;
  margin: 0;

  .tab-header-and-content {
    list-style: none;

    @include media($tab-mode) {
      display: inline;
    }
  }

  .tab-link {
    background-color: $tab-inactive-color;
    color: $tab-link-color;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 24px;
    border:none;

    @include media($tab-mode) {
      border-top: 0;
      display: inline-block;
    }

    &:hover { color: $action-color; }
    &:focus { outline: none; }

    &.is-active {
      border-bottom:6px transparent solid;

      @include media($tab-mode) {
        border-bottom-color: #fff;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing 0;
    width: 100%;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}


// = Cerimonia
// ==========================
#cerimony { background:#5c94fc; padding-top: 100px;
  h2 {font-size: 34px; padding-top: 30px;}
  h3 {font-size: 28px; height: 55px; text-align: center; vertical-align: baseline;
    img {vertical-align: baseline;}
  }
  .women, .men { margin-bottom: 60px;
    img {margin-right: 10px;}
    p {color:#414141; background: #fff; border-radius: 4px; padding: 20px;}
  }
  .men img {margin-left: 10px;}

  @include media($on-palm) {
    .women, .men { @include span-columns(6);}
  }
}


// = Festa
// ==========================
#party {background:#2038ec; padding-top: 80px;
  .footer-bg {margin-top: 120px; margin-bottom: 0;}
  .festa {}
  .trajes { background:#fff; border-radius: 4px; float: right; padding: 20px;
    h3 {color:#414141; padding-top: 0;}
    p {color:#414141;
      &:last-of-type {margin-bottom: 0;}
    }
  }
  h3 {@include clearfix; clear: both; padding-top: 30px;}
  img {display: block; margin: 40px auto 20px; clear: both; @include clearfix;}
  ul { list-style-image:url('img/icon-peixe.png');

  }
  @include media($on-palm) {
    .festa {@include span-columns(6); }
    .trajes {@include span-columns(6); @include omega; @include clearfix; margin-bottom: 20px;}
  }
}


// = Lista de Presentes
// ==========================
#gifts { background:#5c94fc; padding-top: 80px;
  h1 {padding: 30px 0 20px; clear: both; @include clearfix;}
  ul {list-style:none; margin-left: 0;
    li { padding-left: 30px; background:url('img/icon-coin.png') no-repeat; margin-top: 10px;}
  }
  .footer-bg {margin-top: 60px;} 
  .center {text-align: center;}

  .powerup { text-align: center; font-family: $display-font-family; font-size: 28px; margin: 20px 0; position: relative; background:transparent url('img/button.png') center top no-repeat;
    .button-submit {@include transition(opacity 0.4s ease-in); max-width: 150px; width: 100%; margin: 0 auto; opacity: 0;
      &:hover {opacity: 1;}
    }
    &:hover {background:none;}
  }

  @include media($on-palm) {
    .powerup {@include span-columns(3);
      &:nth-of-type(4n) {@include omega;}
    }
  }
}


